@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

/* ALL */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.Footer {
  text-align: center;
}

/* TOP */

.Home {
  display: flex;
  flex-direction: column;
}

.RWicon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
}

.RWicon span{
  visibility: hidden;
}

.Header {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navigation, .QandA {
  margin-top: 20px;
  flex: 1;
}

.Navigation ul {
  width: 80%;
  margin: 0 auto;
}

.MenuItem{
  padding: 0px;
  margin: 0px;
}

.TopTitle{
  font-size: 16px;
}

.MenuItemLink{
  font-size: 42px;
  line-height: 1.25;
  text-decoration: none;
}

.MenuItemLink:hover{
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.MenuQuestionMark {
  visibility: hidden;
}

.MenuItemLink:hover .MenuQuestionMark {
  visibility: visible;
}

/* EACH SECTION */

.QandA h1{
  width: 90%;
  margin: 0 auto;
  font-size: 36px;
  text-indent: 9px;
  border-left: 10px solid black;
  border-bottom: 2px solid black;
}

.QandA p{
  margin: 0 auto;
  font-size: 16px;
  /* text-indent: 20px; */
  padding-top: 10px;
}

.QApage-md{
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
  /* text-indent: 20px; */
  padding-top: 10px;
}

.QApage-md a{
  text-decoration: none;
  border-bottom: 1px dashed black;
}

.QApage-md a:hover{
  text-decoration: none;
  font-weight: 400;
  border-bottom: 2px solid black;
}

.QandA-BackNav {
  margin: 20px auto;
  width: 90%;
  font-size: 18px;
}
